@import "tailwindcss";

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  
  .print\:hidden {
    display: none !important;
  }
  
  #printable-meeting {
    padding: 0 !important;
    margin: 0 !important;
    overflow: visible !important;
  }

  @page {
    size: A4;
    margin: 1.5cm;
  }
}
